<div class="Book span12">
    <h3>Add a new book</h3>
    <div class="span10">
        <span class="span2">Book id</span> <input id="BookID" ng-model="newBook.id" />
    </div>
    <div class="span10">
        <span class="span2">Book name</span> <input id="BookName" ng-model="newBook.name"/>
    </div>
    <div class="span10">
        <span class="span2">Book author</span> <input id="BookAuthor" ng-model="newBook.author" />
    </div>
    <div class="span10">
        <button class="btn btn-primary" ng-click="addNewBook()">Create the book</button>
    </div>

</div>