<h3>All books</h3>
<div>
    <ul>
        <li ng-repeat="bookItem in books">
            <span>{{bookItem.id}} - {{bookItem.name}} by {{bookItem.author}}</span></li>
    </ul>
</div>
<hr>
<div class="Book span12">
    <h3>Book Detail</h3>
    <div class="span10">
        <span>Book id</span> <span id="BookID">{{book.id}}</span>
    </div>
    <div class="span10">
        <span>Book name</span> <span id="BookName">{{book.name}}</span>
    </div>
    <div class="span10">
        <span>Book author</span> <span id="BookAuthor">{{book.author}}</span>
    </div>
    <div class="span10">
        <button class="btn btn-primary" ng-click="openPage('/new')">Open New Book</button>
    </div>

</div>