<div class="Book col-lg-12">
  <h3>Add a new book</h3>

  <div class="col-lg-10">
    <span class="col-lg-2">Book id</span> <input id="BookID" ng-model="newBook.id" required/>
  </div>
  <div class="col-lg-10">
    <span class="col-lg-2">Book name</span> <input id="BookName" ng-model="newBook.name" required/>
  </div>
  <div class="col-lg-10">
    <span class="col-lg-2">Book author</span> <input id="BookAuthor" ng-model="newBook.author"/>
  </div>
  <div class="col-lg-10">
    <button class="btn btn-success" ng-click="addNewBook(newBook)"><i class="icon-plus icon-white"></i> Create the book
    </button>
  </div>

</div>