<div class="Book span12">
    <h3>Book Detail</h3>
    <div class="span10">
        <span>Book id</span> <span id="BookID">{{book.id}}</span>
    </div>
    <div class="span10">
        <span>Book name</span> <span id="BookName">{{book.name}}</span>
    </div>
    <div class="span10">
        <span>Book author</span> <span id="BookAuthor">{{book.author}}</span>
    </div>
    <div class="span10">
        <button class="btn btn-info" ng-click="openPage('/')"><i class="icon-list icon-white"></i> Back to books index</button>
    </div>

</div>